extends layout

block content
  h1#header 
    a( href="/" ) Chella Man Art •••
  nav
    ul.nav.navbar-nav.center-block
        li: a( href="/about") About
        li: a( href="/artwork" ) Artwork
        li: a( href="/shop" ) Shop
        li: a( href="/contact" ) Contact
  .page
    .about-info
        p: h3 Chella Man is a 16 year old deaf artist. 
        br
        p Her art takes form in various mediums including drawings, paintings, photography, videography, and most recently, apparel. She is a passionate feminist, equal rights activist, thinker, and learner. She continues to create daily, living by the anthem: "art is a way of survival".
        p After high school, Chella plans to pursue studies in art, design, and computer programming.
        p She currently lives and works in Mechanicsburg, Pennsylvania.
    .about-imgs 
      img#about(src="/images/chella1.jpg")
      img#about(src="/images/chella2.jpg")
      img#about(src="/images/chella3.jpg")
      img#about(src="/images/chella4.jpg")