extends layout

block content
  h1#header 
    a( href="/" ) Chella Man Art •••
  nav
    ul.nav.navbar-nav.center-block
        li: a( href="/about") About
        li: a( href="/artwork" ) Artwork
        li: a( href="/shop" ) Shop
        li: a( href="/contact" ) Contact
  .page
    .piece
      img(src="/images/apparel/21.JPG")
    .piece
      img(src="/images/apparel/22.JPG")
    .piece
      img(src="/images/apparel/23.JPG")
    .piece
      img(src="/images/apparel/24.JPG")
    .piece
      img(src="/images/apparel/25.JPG")
    .piece
      img(src="/images/apparel/26.JPG")
    .piece
      img(src="/images/apparel/27.JPG")
    .piece
      img(src="/images/apparel/28.JPG")
    .piece
      img(src="/images/apparel/29.JPG")
    .piece
      img(src="/images/apparel/30.JPG")
    .piece
      img(src="/images/apparel/31.JPG")
    .piece
      img(src="/images/apparel/32.JPG")
    .piece
      img(src="/images/apparel/33.JPG")
    .piece
      img(src="/images/apparel/2.JPG")
    .piece
      img(src="/images/apparel/3.JPG")
    .piece
      img(src="/images/apparel/4.jpg")
    .piece
      img(src="/images/apparel/5.JPG")
    .piece
      img(src="/images/apparel/6.JPG")
    .piece
      img(src="/images/apparel/7.JPG")
    .piece
      img(src="/images/apparel/8.JPG")
    .piece
      img(src="/images/apparel/9.jpg")
    .piece
      img(src="/images/apparel/10.jpg")
    .piece
      img(src="/images/apparel/11.JPG")
    .piece
      img(src="/images/apparel/12.JPG")
    .piece
      img(src="/images/apparel/13.JPG")
    .piece
      img(src="/images/apparel/14.jpg")
    .piece
      img(src="/images/apparel/15.jpg")
    .piece
      img(src="/images/apparel/16.jpg")
    .piece
      img(src="/images/apparel/17.jpg")
    .piece
      img(src="/images/apparel/18.jpg")
    .piece
      img(src="/images/apparel/19.jpg")
    .piece
      img(src="/images/apparel/20.jpg")