extends layout

block content
  h1#header 
    a( href="/" ) Chella Man Art •••
  nav
    ul.nav.navbar-nav.center-block
        li: a( href="/about") About
        li: a( href="/artwork" ) Artwork
        li: a( href="/shop" ) Shop
        li: a( href="/contact" ) Contact
  .page
    .shop-form-confirmation
      h1 CHELLA MAN APPAREL
      br
      p Thank you! Your order has been received. To complete the process, please follow through with the payment method below:
      br
      .payment-instructions
        p (if you are purchasing more than one item, please increase the price accordingly)
        p t-shirt:                    $15.00 each
        p shipping:                   $4.00
        p total (1 t-shirt): $19.00
        br
        p 1. After you click on the link below, enter the email address rachelman26@gmail.com and your order's total amount in USD. Remember to account for the number of t-shirts you are buying in the payment!
        p 2. In the notes section, put both the full name and quantity of shirts indicated on your order form.
        p 3. Press send
        p 4. You will receive a confirmation email shortly after completing the payment
        P If you have any further questions, feel free to send an email to rachelman26@gmail.com. Thank you for your purchase!
        h3#checkout
          a( href="https://www.paypal.com/myaccount/transfer/send" target="_blank") COMPLETE THE CHECKOUT PROCESS