extends layout

block content
  h1#header 
    a( href="/" ) Chella Man Art •••
  nav
    ul.nav.navbar-nav.center-block
        li: a( href="/about") About
        li: a( href="/artwork" ) Artwork
        li: a( href="/shop" ) Shop
        li: a( href="/contact" ) Contact
  .page
    .piece
      img(src="/images/paintings/1.JPG")
    .piece
      img(src="/images/paintings/2.JPG")
    .piece
      img(src="/images/paintings/3.JPG")
    .piece
      img(src="/images/paintings/4.JPG")
      img(src="/images/paintings/5.JPG")
    .piece
      img(src="/images/paintings/6.JPG")
    .piece
      img(src="/images/paintings/7.JPG")
    .piece
      img(src="/images/paintings/8.JPG")
    .piece
      img(src="/images/paintings/9.JPG")