extends layout

block content
  h1#header 
    a( href="/" ) Chella Man Art •••
  nav
    ul.nav.navbar-nav.center-block
        li: a( href="/about") About
        li: a( href="/artwork" ) Artwork
        li: a( href="/shop" ) Shop
        li: a( href="/contact" ) Contact
  .page
    .piece
      img(src="/images/paintings/1.jpg")
    .piece
      img(src="/images/paintings/2.jpg")
    .piece
      img(src="/images/paintings/3.jpg")
    .piece
      img(src="/images/paintings/4.jpg")
      img(src="/images/paintings/5.jpg")
    .piece
      img(src="/images/paintings/6.jpg")
    .piece
      img(src="/images/paintings/7.jpg")
    .piece
      img(src="/images/paintings/8.jpg")
    .piece
      img(src="/images/paintings/9.jpg")