extends layout

block content
  h1#header 
    a( href="/" ) Chella Man Art •••
  nav
    ul.nav.navbar-nav.center-block
        li: a( href="/about") About
        li: a( href="/artwork" ) Artwork
        li: a( href="/shop" ) Shop
        li: a( href="/contact" ) Contact
  .page
    .piece
      img(src="/images/pastels/1.JPG")
    .piece
      img(src="/images/pastels/2.JPG")
    .piece
      img(src="/images/pastels/3.JPG")
    .piece
      img(src="/images/pastels/5.JPG")
    .piece
      img(src="/images/pastels/6.JPG")
    .piece
      img(src="/images/pastels/7.JPG")
    .piece
      img(src="/images/pastels/4.JPG")
    .piece
      img(src="/images/pastels/8.JPG")