extends layout

block content
  h1#header 
    a( href="/" ) Chella Man Art •••
  nav
    ul.nav.navbar-nav.center-block
        li: a( href="/about") About
        li: a( href="/artwork" ) Artwork
        li: a( href="/shop" ) Shop
        li: a( href="/contact" ) Contact
  .page
    .piece
      img(src="/images/sketches/3.JPG")
    .piece
      img(src="/images/sketches/5.JPG")
    .piece
      img(src="/images/sketches/6.JPG")
    .piece
      img(src="/images/sketches/7.JPG")
    .piece
      img(src="/images/sketches/8.JPG")
    .piece
      img(src="/images/sketches/9.JPG")
    .piece
      img(src="/images/sketches/10.JPG")
    .piece
      img(src="/images/sketches/11.JPG")
    .piece
      img(src="/images/sketches/12.JPG")
    .piece
      img(src="/images/sketches/13.JPG")
    .piece
      img(src="/images/sketches/14.JPG")
    .piece
      img(src="/images/sketches/15.JPG")
    .piece
      img(src="/images/sketches/16.JPG")
    .piece
      img(src="/images/sketches/17.JPG")
    .piece
      img(src="/images/sketches/18.JPG")
    .piece
      img(src="/images/sketches/19.JPG")
    .piece
      img(src="/images/sketches/20.JPG")
    .piece
      img(src="/images/sketches/21.JPG")
    .piece
      img(src="/images/sketches/22.jpg")
    .piece
      img(src="/images/sketches/23.JPG")
    .piece
      img(src="/images/sketches/24.jpg")
    .piece
      img(src="/images/sketches/25.jpg")
    .piece
      img(src="/images/sketches/26.JPG")
    .piece
      img(src="/images/sketches/27.JPG")
    .piece
      img(src="/images/sketches/29.JPG")
    .piece
      img(src="/images/sketches/30.JPG")
    .piece
      img(src="/images/sketches/31.JPG")
    .piece
      img(src="/images/sketches/32.JPG")
    .piece
      img(src="/images/sketches/33.JPG")
    .piece
      img(src="/images/sketches/35.JPG")
    .piece
      img(src="/images/sketches/36.JPG")
    .piece
      img(src="/images/sketches/37.JPG")
    .piece
      img(src="/images/sketches/38.JPG")
    .piece
      img(src="/images/sketches/39.jpg")
    .piece
      img(src="/images/sketches/40.jpg")
    .piece
      img(src="/images/sketches/41.JPG")
    .piece
      img(src="/images/sketches/42.JPG")
    .piece
      img(src="/images/sketches/43.JPG")
    .piece
      img(src="/images/sketches/44.JPG")
    .piece
      img(src="/images/sketches/45.JPG")