extends layout

block content
  h1#header 
    a( href="/" ) Chella Man Art •••
  nav
    ul.nav.navbar-nav.center-block
        li: a( href="/about") About
        li: a( href="/artwork" ) Artwork
        li: a( href="/shop" ) Shop
        li: a( href="/contact" ) Contact
  .page
    .piece
      img(src="/images/sketches/3.jpg")
    .piece
      img(src="/images/sketches/5.jpg")
    .piece
      img(src="/images/sketches/6.jpg")
    .piece
      img(src="/images/sketches/7.jpg")
    .piece
      img(src="/images/sketches/8.jpg")
    .piece
      img(src="/images/sketches/9.jpg")
    .piece
      img(src="/images/sketches/10.jpg")
    .piece
      img(src="/images/sketches/11.jpg")
    .piece
      img(src="/images/sketches/12.jpg")
    .piece
      img(src="/images/sketches/13.jpg")
    .piece
      img(src="/images/sketches/14.jpg")
    .piece
      img(src="/images/sketches/15.jpg")
    .piece
      img(src="/images/sketches/16.jpg")
    .piece
      img(src="/images/sketches/17.jpg")
    .piece
      img(src="/images/sketches/18.jpg")
    .piece
      img(src="/images/sketches/19.jpg")
    .piece
      img(src="/images/sketches/20.jpg")
    .piece
      img(src="/images/sketches/21.jpg")
    .piece
      img(src="/images/sketches/22.jpg")
    .piece
      img(src="/images/sketches/23.jpg")
    .piece
      img(src="/images/sketches/24.jpg")
    .piece
      img(src="/images/sketches/25.jpg")
    .piece
      img(src="/images/sketches/26.jpg")
    .piece
      img(src="/images/sketches/27.jpg")
    .piece
      img(src="/images/sketches/29.jpg")
    .piece
      img(src="/images/sketches/30.jpg")
    .piece
      img(src="/images/sketches/31.jpg")
    .piece
      img(src="/images/sketches/32.jpg")
    .piece
      img(src="/images/sketches/33.jpg")
    .piece
      img(src="/images/sketches/35.jpg")
    .piece
      img(src="/images/sketches/36.jpg")
    .piece
      img(src="/images/sketches/37.jpg")
    .piece
      img(src="/images/sketches/38.jpg")
    .piece
      img(src="/images/sketches/39.jpg")
    .piece
      img(src="/images/sketches/40.jpg")
    .piece
      img(src="/images/sketches/41.jpg")
    .piece
      img(src="/images/sketches/42.jpg")
    .piece
      img(src="/images/sketches/43.jpg")
    .piece
      img(src="/images/sketches/44.jpg")
    .piece
      img(src="/images/sketches/45.jpg")